<html>
<head>
    <title>jsonp test</title>
</head>
<body>

<h1>ajax测试</h1>
<p id="status"></p>

<p id="texta" ></p>

<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/ajax.js"></script>

</body>
</html>