<html>
<head>
    <title>jsonp test</title>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#select_link').click(function(e){
                e.preventDefault();
                console.log('select_link clicked');

                /*$.ajax({
                   dataType: 'jsonp',
                   data: "data=yeah",
                   jsonp: 'callback',
                   url: 'http://localhost:3000/endpoint?callback=?',
                   success: function(data) {
                       console.log('success');
                       console.log(JSON.stringify(data));
                   }
               });*/
                var data = {};
                data.title = "title";
                data.message = "message";

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'http://localhost:3000/endpoint',
                    success: function(data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    }
                });
                /*$.ajax('http://localhost:3000/endpoint', {
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function() { console.log('success');},
                        error  : function() { console.log('error');}
                });*/
            });
        });
    </script>
</head>
<body>
<div id="select_div"><a href="#" id="select_link">Test</a></div>
</body>

<script>
    function setSection(event) {
        // 6 create an instance when the DOM is ready
//        $('#jstree').jstree();
        alert("执行了！");
        var id = event.target.id;
//        var reqURL = "http://127.0.0.1:3000/index/showSection/" + id;
        alert(id);

        $('#jstree').jstree("destroy");

        $("#jstree").jstree({
            "core" : {
                "themes" : {
                    "responsive": false
                },
                // so that create works
                "check_callback" : true,
                'data' :function (obj, cb) {
                    $.ajax({
                        data: '1',
                        url: "/index/showSection/"+id,
                        dataType: 'json',
//                        async: false,
                        contentType:'application/json',
                        cache: false,
                        timeout: 0,
                        type:'get',    // 如果要使用GET方式，则将此处改为'get'
                        headers: {
                            'Access-Control-Allow-Origin': '*'
                        },
                        success: function(data){
                            var res = data;
                            console.log(res.data);
                            var arr = res.data;
                            cb.call(this, JSON.parse(arr));
                        },
                        error:function (data) {
                            alert("获取目录失败！");
                        }
                    });
                }
            },
            "types" : {
                "default" : {
                    "icon" : "fa fa-book"
                },
                "file" : {
                    "icon" : "fa fa-book"
                }
            },
//            "plugins" : [ "wholerow", "checkbox" ]
//            "state" : { "key" : "demo2" },
//            "plugins" : [ "dnd", "state", "types","wholerow" ]
        });
        // 7 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {

            $.ajax({
                data:{title:data.instance.get_node(data.selected).text} ,

                url: "/index/showPage" ,
                dataType: 'json',
//                        async: false,
                contentType: 'application/json;charset=UTF-8',

                cache: false,
                timeout: 0,
                type: 'get',    // 如果要使用GET方式，则将此处改为'get'
                headers: {
                    'Access-Control-Allow-Origin': '*'
                },
                success: function (data) {
                    var res = data;
                    console.log(res.data);
                    var arr = res.data;
//                    cb.call(this, JSON.parse(arr));
                },
                error: function (data) {
                    alert("获取目录失败！");
                }
            });
            alert(data.instance.get_node(data.selected).id);      //输出当前选中的区域的名称
        });
    }

    function getData() {
        $.ajax({
            data: '1',
            url: "http://127.0.0.1:3000/index/req_ajax",
            dataType: 'json',
            cache: false,
            timeout: 5000,
            type:'get',    // 如果要使用GET方式，则将此处改为'get'
            success: function(data){
                var res = data;
//                    return res.data;
                if(res.message == 'success')
                {
                    document.getElementById("status").innerHTML += "<p style='color:green; font-weight:bold;'>服务器返回信息: " + res.data + "</p>";
                }
                else
                {
                    document.getElementById("status").innerHTML += "<p style='color:#2289DB; font-weight:bold;'>获取服务器信息失败！ " + res.data + "</p>";
                }
            }
        });

    }

</script>

<script>
    var OL_Action_Root = "http://127.0.0.1:3000/index";
    var xmlHttp = null;
    function Req_ajax(info, type)
    {
        $.ajax({
            data: {info:info, type:type},
            url: OL_Action_Root+"/showSection/1",
            dataType: 'json',
            cache: false,
            timeout: 5000,
            type:type,    // 如果要使用GET方式，则将此处改为'get'
            success: function(data){
                var res = data;
                console.log(data);
                if(res.message == 'success')
                {
                    document.getElementById("status").innerHTML += "<p style='color:green; font-weight:bold;'>服务器返回信息: " + res.data + "</p>";
                }
                else
                {
                    document.getElementById("status").innerHTML += "<p style='color:#2289DB; font-weight:bold;'>获取服务器信息失败！ " + res.data + "</p>";
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                document.getElementById("texta").innerHTML=errorThrown;


                document.getElementById("status").innerHTML += "<p style='color:#C00000; font-weight:bold;'>连接不到服务器，请检查网络！</p>";
            }
        });
    }
</script>

</html>